body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: "Darumadrop One", sans-serif;
    color: #001aaa;
    background-size: cover;
    background-position: center;
}
section {
    text-align: center;
}
#biomeThreeTitle {
    font-size: 10rem;
    font-weight: 600;
    text-shadow: 0 0 5px rgba(0,0,0,0.75);
}
#resetTimer {
    font-size: 7rem;
    text-shadow: 0 0 3px rgba(0,0,0,0.75);
    min-width: 4em;
    text-align: center;
}