/* Index css styles */
.indexBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: "Darumadrop One", sans-serif;
    color: #001aaa;
    background-size: cover;
    background-position: center;
}
.indexSection {
    text-align: center;
}
#biomeThreeTitle {
    font-size: 10rem;
    font-weight: 600;
    text-shadow: 0 0 5px rgba(0,0,0,0.75);
}
#resetTimer {
    font-size: 7rem;
    text-shadow: 0 0 3px rgba(0,0,0,0.75);
    min-width: 4em;
    text-align: center;
}
#galleryButton {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    background-color: rgba(223, 49, 49, 0.8);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    text-decoration: none;
}
#galleryButton:hover {
    background-color: rgba(223, 49, 49, 1);
}